<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="co.uk.ultimateweb.test"
        version="1.0.0">

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>PluginTest</name>

  <description>Plugin Test Base</description>

  <author>Ultimateweb</author>

  <js-module src="www/EchoPlugin.js" name="Echo">
    <clobbers target="cordova.plugins.echo" />
  </js-module>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Echo">
        <param name="ios-package" value="Echo" />
      </feature>
    </config-file>

    <header-file src="src/ios/Echo.h" />
    <source-file src="src/ios/Echo.m" />
  </platform>

  <!-- Android -->
  <platform name="android">
    <source-file src="src/android/Echo.java" target-dir="src/co/uk/ultimateweb/test" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Echo">
        <param name="android-package" value="co.uk.ultimateweb.test.Echo" />
      </feature>
    </config-file>
  </platform>

</plugin>
