<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.appgyver.plugin.Echo"
    version="1.0.0">

    <name>EchoPlugin</name>

  <description>
    Echo Plugin for Steroids.js
  </description>

  <js-module src="www/EchoPlugin.js" name="EchoPlugin">
    <clobbers target="window.echo" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="EchoPlugin">
        <param name="android-package" value="com.appgyver.plugin.Echo"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/appgyver/plugin/Echo.java" target-dir="src/com/appgyver/plugin" />
  </platform>
</plugin>